.container {
    color: var(--white10);
    position: fixed;
    top: 0px;
    background-image: linear-gradient(to bottom, var(--gradient-stops));

    --gradient-from: var(--black);
    --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
    width: 100%;
    z-index: 50;
}

.wrapper {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    display: flex;
    padding: 1.25rem /* 20px */;
    flex-direction: column;
    justify-content: space-between;
}

.logoLink {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    color: var(--white10);
    margin-bottom: 0.5rem;
}

.logoWrapper {
    color: var(--red);
    width: 6rem /* 128px */;
}

.navItems {
    display: flex;
    flex-direction: row;
    font-size: 0.5rem /* 14px */;
    padding: 0;
    line-height: 1.25rem /* 20px */;
    list-style: none;
    margin-bottom: 0.1rem;
}

.navItem {
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    margin-right: 0.75rem /* 12px */;
}

.navItem2 {
    cursor: pointer;
}

.navContainer {
    display: flex;
    align-items: flex-start;
}

.usernameBtn {
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--white);
    padding-left: 0;
}

.username {
    font-size: 0.9rem;
}

.navDropdown {
    position: absolute;
    margin-left: auto;
    margin-top: 0.5rem /* 8px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    padding-right: 0.5rem;
    background-color: var(--black50);
    border-width: 1px;
    color: var(--white);
    border-radius: 0.25rem /* 4px */;

    border-color: var(--blue);

    box-shadow: var(--shadow30, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
        var(--shadow30);
}

.linkName {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    display: block;
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;

    font-size: 1rem /* 16px */;
    line-height: 1.25rem /* 20px */;
    border-radius: 0.25rem /* 4px */;
    cursor: pointer;
}

.linkName:hover {
    text-decoration: underline;
}

.lineWrapper {
    padding-top: 0.2rem /* 8px */;
}

@media (min-width: 650px) {
    .wrapper {
        padding-left: 4rem /* 64px */;
        padding-right: 4rem /* 64px */;
        flex-direction: row;
        align-items: center;
    }

    .logoLink {
        margin-bottom: 0px;
    }

    .navItems {
        margin-left: 3rem /* 48px */;
        width: 50%;
    }

    .navItem {
        margin-right: 1.25rem /* 20px */;
        font-size: 1.1rem;
    }
    .logoWrapper {
        width: 8rem /* 128px */;
    }
    .username {
        font-size: 1rem;
    }
}
